<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{a_book.title}} Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_page.css' %}">
</head>
<body>
    <div id="container">
        <nav>
            <p>Welcome, {{this_user.first_name}}!</p>
            <div id="nav_actions">
                <a href="/book">Home</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div id="wrapper">
            <div id="books">
                <h1>{{a_book.title}}</h1>
                <h2>{{a_book.genre}}</h2>
                <p>{{a_book.description}}</p>
                {% if this_user in favorited_by %}
                <form action="{{a_book.id}}/unfavorite_bookpage" method="POST">
                {% csrf_token %}
                    <button type="submit">Remove from Favorites</button>
                </form>
                {% else %}
                <form action="{{a_book.id}}/favorite_bookpage" method="POST">
                {% csrf_token %}
                    <button type="submit">Add to Favorites</button>
                </form>
                {% endif %}
                <div id="book_info">
                    <p><span class="label">Added By: </span>
                        <a href="user/{{a_book.uploaded_by.id}}">{{a_book.uploaded_by.username}}</a>
                    </p>
                    <p><span class="label">Added On: </span>{{a_book.created_at}}</p>
                    <p><span class="label">Last Updated: </span>{{a_book.updated_at}}</p>
                    <p><span class="label">Favorited By:</span>
                    {% for user in favorited_by %} 
                    <a href="user/{{user.id}}">{{user.username}}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
            {% if this_user.id == user_who_uploaded.id %}
            <div id="edit">
                <h2>Edit Book</h2>
                <form action="{{a_book.id}}/update_book" method="POST">
                {% csrf_token %}
                    <input name="id" type="hidden" value ={{a_book.id}}> 
                    <label class="label" for="title">Title: </label>
                    <input name="title" type="text" value="{{a_book.title}}">
                    <label class="label" for="genre">Genre: </label>
                    <input name="genre" type="text" value="{{a_book.genre}}">
                    <label class="label" for="description">Description: </label>
                    <textarea name="description">{{a_book.description}}</textarea>
                    <button type="submit">Update</button>
                </form>
                {% if messages %}
                <div id ="messages">
                    {% for message in messages %}
                    <p class="messages">    
                    {{ message }}   
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
                <div id="delete">
                    <form action="{{a_book.id}}/destroy_book" method="POST">
                    {% csrf_token %}
                        <button type="submit">Delete Book</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <footer>
            <p>&#169; 2021 Lisa Stedman-Falls</p>
            <a href="https://github.com/Lstedmanfalls/">GitHub</a>
            <a href="https://codepen.io/lstedmanfalls">CodePen</a>
            <a href="https://www.linkedin.com/in/lstedmanfalls/">LinkedIn</a>
        </footer>
    </div>
</body>
</html>