<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{a_username}}' Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_page.css' %}">
</head>
<body>
    <div id="container">
        <nav>
            <p>Welcome, {{this_user.username}}!</p>
            <div id="nav_actions">
                <a href="/book">Home</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div id="wrapper">
            {% if messages %}
            <div id="messages">
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if this_user.id == a_user.id or this_user == admin %}
            <div id="edit">
                <form action="/book/user/{{a_user.id}}/edit_info" method="POST">
                {% csrf_token %}
                    <label class="label" for="username">Username: </label>
                    <input name="username" type="text" value ="{{a_user.username}}">
                    <label class="label" for="bio">Bio: </label>
                    <textarea name="bio">{{a_user.bio}}</textarea>
                    <button type="submit">Update</button>
                </form>
                <form action="/book/user/{{a_user.id}}/change_password" method="POST">
                    {% csrf_token %}
                        <label for="password">Password</label>
                        <input name="password" type="password">
                        <label for="password_confirm">Confirm Password</label>
                        <input name="password_confirm" type="password">
                        <button type="submit">Update</button>
                    </form>
            </div>
            {% endif %}
            <div id="user_info">
                <h1>{{a_user.username}}'s Page</h1>
                <p>Member since {{a_user.created_at}}</p>
                <p>{{a_user.bio}}</p> 
                <h2>Favorite Books ({{favorite_count}})</h2>
                {% for book in favorited_books %} 
                <p>
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                </p>
                {% endfor %}
                <h2>Uploaded Books ({{book_count}})</h2>
                {% for book in uploaded_books %} 
                <p>
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                </p>
                {% endfor %}
            </div>
        </div>   
        <footer>
            <p>&#169; 2021 Lisa Stedman-Falls</p>
            <a href="https://github.com/Lstedmanfalls/">GitHub</a>
            <a href="https://codepen.io/lstedmanfalls">CodePen</a>
            <a href="https://www.linkedin.com/in/lstedmanfalls/">LinkedIn</a>
        </footer>
    </div>
</body>
</html>