<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{a_user.first_name}} {{a_user.last_name}}' Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_page.css' %}">
</head>
<body>
    <div id="container">
        <nav>
            <p>Welcome, {{this_user.first_name}}!</p>
            <div id="nav_actions">
                <a href="/book">Home</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div id="wrapper">   
            <div id="favorites">
                <h1>{{a_user.first_name}}'s Favorite Books</h1>
                {% for book in favorited_books %} 
                <p>
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                </p>
                {% endfor %}
            </div>
            <div id="uploads">
                <h1>{{a_user.first_name}}'s Uploaded Books</h1>
                <p>
                    {% for book in uploaded_books %} 
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                    </li>
                    {% endfor %}
                </p>
            </div>
            <div id="upload_number">
                <h1>Number of books uploaded: {{book_count}}</h1>
            </div>
        </div>
        <footer>
            <p>&#169; 2021 Lisa Stedman-Falls</p>
            <a href="https://github.com/Lstedmanfalls/">GitHub</a>
            <a href="https://codepen.io/lstedmanfalls">CodePen</a>
            <a href="https://www.linkedin.com/in/lstedmanfalls/">LinkedIn</a>
        </footer>
    </div>
</body>
</html>