<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{view_user.username}}'s Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_page.css' %}">
</head>
<body>
    <div id="container">
        <nav>
            <p>Welcome, {{user.first_name}}!</p>
            <div id="nav_actions">
                <a href="/book">Home</a>
                <form action="/logout" method="POST">
                {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <div id="wrapper">
            <div id="user">
                <h1>{{view_user.username}}'s Profile</h1>
                <p>Member since {{view_user.created_at}}</p>
                <p>{{view_user.bio}}</p>
                <h2>My Favorite Books <span class="count">({{favorite_count}})</span></h2>
                {% for book in favorited_books %} 
                <p id="user_favorite" class ="user_info">
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                </p>
                {% endfor %}
                <h2 id="uploaded">My Uploaded Books <span class="count">({{book_count}})</span></h2>
                {% for book in uploaded_books %} 
                <p class ="user_info">
                    <a href ="/book/{{book.id}}">{{book.title}}</a>
                </p>
                {% endfor %}
            </div>
            {% if user.id == view_user.id %}
            <div id ="messages">
                {% if messages %}
                {% for message in messages %}    
                <p class="messages">    
                {{ message }}   
                </p>
                {% endfor %}
                {% endif %}
            </div>
            <div id ="update">
                <div id="edit">
                    <h2>Edit Profile</h2>
                    <form action="/book/user/{{view_user.id}}/edit_info" method="POST">
                    {% csrf_token %}
                        <label class="label" for="username">Username: </label>
                        <input name="username" type="text" value ="{{view_user.username}}">
                        <label class="label" for="bio">Bio: </label>
                        <textarea name="bio">{{view_user.bio}}</textarea>
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div id="password">
                    <h2>Change Password</h2>
                    <form action="/book/user/{{view_user.id}}/change_password" method="POST">
                        {% csrf_token %}
                            <label class ="label" for="password">Password</label>
                            <input name="password" type="password">
                            <label class ="label" for="password_confirm">Confirm Password</label>
                            <input name="password_confirm" type="password">
                            <button type="submit">Update</button>
                        </form>
                </div>
            </div>
            {% endif %}
        </div>   
        <footer>
            <p>&#169; 2021 Lisa Stedman-Falls</p>
            <a href="https://github.com/Lstedmanfalls/" target="_blank">GitHub</a>
            <a href="https://codepen.io/lstedmanfalls" target="_blank">CodePen</a>
            <a href="https://www.linkedin.com/in/lstedmanfalls/" target="_blank">LinkedIn</a>
        </footer>
    </div>
</body>
</html>