<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{a_book.id}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <p>Welcome {{this_user.first_name}} {{this_user.last_name}}</p>
                    </li>
                    <li>
                        <a href="/book">Home</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                        {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if this_user.id == user_who_uploaded.id %}
                <form action="{{a_book.id}}/update_book" method="POST">
                {% csrf_token %}
                    <label for="title">Title: </label>
                    <input name="title" type="text" value="{{a_book.title}}">
                    <label for="description">Description: </label>
                    <textarea name="description">{{a_book.description}}</textarea>
                    <button type="submit">Update</button>
                </form>
                <form action="{{a_book.id}}/destroy_book" method="POST">
                {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            {% else %}
                <h1>{{a_book.title}}</h1>
                <p>Added by: {{a_book.uploaded_by.first_name}} {{a_book.uploaded_by.last_name}}</p>
                <p>Added on: {{a_book.created_at}}</p>
                <p>Last updated: {{a_book.updated_at}}</p>
                <p>Description: {{a_book.description}}</p>
            {% endif %}
        </div>
        <div>
            <h1>Users Who Have Favorited This Book</h1>
            <ul>
                {% for user in favorited_by %} 
                <li>{{user.first_name}} {{user.last_name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
                {% if this_user in favorited_by %}
                    <form action="{{a_book.id}}/unfavorite_bookpage" method="POST">
                    {% csrf_token %}
                        <button type="submit">Remove from favorites</button>
                    </form>
                    {% else %}
                    <form action="{{a_book.id}}/favorite_bookpage" method="POST">
                    {% csrf_token %}
                        <button type="submit">Add to Favorites</button>
                    </form>
                {% endif %}
        </div>
    </div>
</body>
</html>