/*Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

*{
    margin:0;
    padding:0;
}

body{
    height:100%;
}

html{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:10px;
}

@media only screen and (max-width:768px){
html{
    font-size:8px;
}
}

@media only screen and (max-width:480px){
html{
    font-size:8px;
}
}

#container{
    position:relative;
    min-height:100vh;
    display: flex;
    flex-direction:column;
}

#container::after{
    content:"";
    background-image:url("books.jpg");
    opacity:.7;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
}

nav{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items:center;
    background-color: rgba(220, 208, 201, .8);
    padding:2rem 0;
    border-bottom:.2rem solid black;
}

nav p{
    font-size:2.5rem;
    padding-left:2rem;
}

#nav_actions{
    display: flex;
    justify-content: space-between;
    padding-right:2rem;
}

nav a{
    margin-right:2rem;
}

nav a, nav button{
    font-size:1.5rem;
    font-weight: bold;
    padding:.5rem 1rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
    background-color:#E0E0E0;
    text-decoration: none;
    border:.1rem solid black;
}

nav button:hover, nav a:hover{
    cursor: pointer;
    background-color:#F8F8F8;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
}

#wrapper{
    display: flex;
    flex:1 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top:4rem;
    padding-bottom:4rem;
}

@media only screen and (max-width:768px){
#wrapper{
    padding:2rem;
    width:74%;
    align-self:center;
}
}

#books, #edit{
    background-color:rgba(220, 208, 201, .8);
    border:1px solid black;
    width:50%;
    padding:3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
}

#books{
    margin-bottom:4rem;
}

@media only screen and (max-width:768px){
#books {
    width:100%;
}
}

h1{
    font-size:4.5rem;
    padding-bottom:1.5rem;
    text-align: center;
    color:#ac6337;
}

h2{
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

#books > p:nth-child(3){
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.4;
    padding:0 3rem;
    font-style: italic;
}

@media only screen and (max-width:768px){
#books > p:nth-child(3) {
    padding:0;
}
}

#books form{
    align-self:center;
    padding-top:1.5rem;
}

#books button, #edit button{
    padding:.5rem 1rem;
    font-size:1.5rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
    background-color:#F8F8F8;
}

#books button:hover, #edit button:hover{
    cursor:pointer;
    background-color:#E0E0E0;
}

#book_info{
    padding-top:2.5rem;
}

.label{
    font-size:2rem;
    font-weight: bold;
    align-self: flex-start;
}

#book_info p{
    font-size:1.8rem;
    padding-bottom:1.5rem;
}

#book_info a {
    color:#574b3f;
}

#edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2rem;
}

@media only screen and (max-width:768px){
#edit {
    width:100%;
}
}

#edit > form{
    display: flex;
    flex-direction: column;
    width:100%;
}

#edit label{
    padding-bottom:.7rem;
}

#edit input, textarea{
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:.5rem;
    margin-bottom:1rem;
}

#edit button{
    align-self: center;
}

#delete form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete button{
    background-color:rgba(172, 99, 55, .6);
    font-weight: bold;
    font-size:2rem;
    align-self: center;
    padding:1rem 2rem;
}

#delete button:hover{
    background-color:rgba(172, 99, 55, 1);
    cursor: pointer;
}

textarea{
    margin-bottom:2rem;
    resize:none;
    overflow-x: auto;
    overflow-y: none;
}

footer{
    text-align: center;
    font-size:1.5rem;
    padding:1.5rem;
    background-color: rgba(220, 208, 201, .8);
    border-top:.2rem solid black;
}

footer p{
    padding-bottom: .5rem;
}

footer a{
    color:#574b3f;
    padding:0 .5rem;
}