/*Mobile responsiveness breakpoints: 
    Mobile (< 480px)
    Tablet (480px to 768px)
    PC (>= 769) */

*{
    margin:0;
    padding:0;
}

html{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:10px;
}

@media only screen and (max-width:768px){
html{
    font-size:8px;
}
}

@media only screen and (max-width:480px){
html{
    font-size:8px;
}
}

#container{
    position:relative;
    min-height:100vh;
    width:100%;
}

#container::after{
    content:"";
    background-image:url("books.jpg");
    opacity:.7;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgba(220, 208, 201, .8);
    padding:2rem 0;
    border-bottom:.2rem solid black;
}

nav p{
    font-size:2.5rem;
    padding-left:2rem;
}

#nav_actions{
    padding-right:2rem;
}

nav button{
    font-size:1.5rem;
    font-weight: bold;
    padding:.5rem 1rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
    background-color:#E0E0E0;
    text-decoration: none;
    border:.1rem solid black;
}

nav button:hover, nav a:hover{
    cursor: pointer;
    background-color:#F8F8F8;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
}

#books_wrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top:4rem;
    padding-bottom:4rem;
}

@media only screen and (min-width:769px){
#skip{
    display: none;
}
}

#skip{
    text-align: center;
    padding-top:1rem;
}

#skip a{
    font-size: 2rem;
    color:white;
}

@media only screen and (max-width:768px){
#books_wrapper{
    flex-direction: column;
    align-items: center;
    padding:2rem;
}
}

#books_wrapper > div {
    background-color:rgba(220, 208, 201, .8);
    border:.1rem solid black;
}

@media only screen and (max-width:768px){
#books_wrapper > div{
    width:100%;
}
}

#books_wrapper h1{
    text-align: center;
}

#books_wrapper button{
    padding:.5rem 1rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:#2D3033;
    background-color:#F8F8F8;
}

#books_wrapper button:hover{
    cursor:pointer;
    background-color:#E0E0E0;
}

#books, #books > div, #add_book, #add_book form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#books{
    width:50%;
}

@media only screen and (max-width:768px){
#books{
    margin-bottom:3rem;
    }
    }

#books div{
    width:100%;
}

#books div:nth-child(even){
    background-color: rgba(255, 255, 255, .4);;
}

#books h1{
    padding: 2.5rem 0;
    font-size:5.5rem;
}

#books div > a{
    font-size:2.3rem;
    color:#ac6337;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom:1rem;
    padding-top:2rem;
    text-align: center;
}

@media only screen and (max-width:768px){
    #books div > a{
    padding-left:1rem;
    padding-right:1rem;
    }
    }

#books p, #books p > a{
    font-size:2rem;
    padding-bottom: 1rem;
}

#books a{
    color: #574b3f;
}

#books button{
    margin-bottom: 3rem;
    font-size:1.5rem;
}

.messages{
    box-sizing: border-box;
    text-align:center;
    color:#bf0000;
    font-size:1.8rem;
    padding:.5rem;
    background-color:white;
    border:.2rem solid black;
    margin:0 auto;
}

.error::marker{
    color:transparent
}

#add_book{
    width:25%;
    height:10%;
}

#add_book form{
    width:80%;
}

#add_book h1{
    font-size:4rem;
    padding:2rem 2rem 2rem 2rem;
}

#add_book label{
    font-size:2.5rem;
    align-self:start;
}

#add_book input, textarea{
    font-size:1.5rem;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding:.5rem;
    margin:.5rem 0 1.5rem 0;
}

#add_book button{
    font-size:2rem;
    margin-bottom:1.5rem;
}

textarea{
    resize:none;
    overflow-x: auto;
    overflow-y: none;
}

footer{
    text-align: center;
    font-size:1.5rem;
    padding:1.5rem;
    background-color: rgba(220, 208, 201, .8);
    border-top:.2rem solid black;
}

footer p{
    padding-bottom: .5rem;
}

footer a{
    color:#574b3f;
    padding:0 .5rem;
}